.octagon-shape {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.octagon-shape-left {
  clip-path: polygon(30% 0%, 43.75% 0%, 43.75% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.octagon-shape-right {
  clip-path: polygon(
    56.75% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    56.75% 100%
  );
}

.circle-shape {
  clip-path: circle(50%);
}
